.Ventas1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.Ventas2{
    display: flex;
    justify-content: space-evenly;
}

body{
    background-color: rgb(252, 180, 97);
}

.txtfooter{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 150%;
}